.navBar {
    border-bottom: #ccc 2px solid;
    width: 100%;
    height: 150px;
    position: fixed;
}
.clock-logo {
    float: left;
    width: 80px;
    margin-left: 50px;
    margin-right: 10px;
}
.app-title {
    float: left;
    width: 400px;
}
.search-bar {
    float: right;
    margin-right: 10px;
    width: 500px;
    height: 30px;
}
/* tz list */
.filter-tz {
    height: 300px;
    width: 500px;
    overflow: scroll;
}
.filter-tz ul li{
    list-style-type: none;
    font-size: 18px;
    border: #ccc 1px solid;
    padding: 10px;
    background-color: #fff;
}
.tz-name:hover {
    box-shadow: 0 0 10px #ffa500;
    border: solid 1px #ffa500;
}
